header div {
  width: 960px; 
  display: inline-block;
  margin-top: 20px;
  margin-left: 20px;
  padding-top: 10px;
} 

h1 {
  float: right;
  margin-right: 330px;
  margin-top: 20px;
}

h2 {
  text-align: center;
}

h3 {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 20px;
  background-color: black;
  color: white;
}

main {
  margin-top: 15px;
  width: 960px;
}

main div:first-child {
  display: inline-block;
  margin-top: 50px;
  width: 200px;
}

main div {
  width: 200px;
  margin-left: 15px;
  margin-top: 50px;
  float: left;
}

img {
  width: 150px;
  margin-top: 15px;
  margin-left: 70px;
}

section {
  width: 960px;
  margin-left: 20px;
}

section div {
  margin: auto;
  margin-left: 20px;
}

p {
  margin-top: 35px;
  margin-left: 20px;
  margin-right: 20px;
}

footer {
  background-color: grey;
  width: 960px;
  margin-top: 25px;
  margin-left: 20px;
  height: 50px;
}
